/*---------------
Reset
----------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*---------------
Typo
----------------*/

body {

    font-family: 'Open Sans', sans-serif;
}

/*---------------
Debug
----------------*/



/*---------------
Common
----------------*/

.flex {
    display: flex;
}

ul li {
    list-style: none;
}

ul li:hover {
    text-decoration: underline;
}


a {
    text-decoration: none;
    color: #000000;
    font-size: 17px;
}

.btn {
    background-color: rgb(0, 97, 255);
    align-items: center;
    text-decoration: none;
    border: none;
    color: #ffff;
    padding: 1vh 2vh 1vh 2vh;
    font-size: 17px;
}

.btn:hover {
color:rgb(149, 213, 255);
}


/*---------------
Header
----------------*/

header {
    background-color: #ffff;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    right:0;
    position: fixed;
    z-index: 20;
}

nav {
    justify-content: space-between;
    align-items: center;
    margin: 0 1vw 0 1vw;
}

nav .header-sx ul,
nav .header-dx ul
 {
    gap: 8vh;
    align-items: center;
    height: 80px;
}

.titolo-jumbo > h1 {
    margin-bottom: 6vh 0 0 0;
}

/*---------------
Main
----------------*/

.jumbosection {
    background-color: #b4d0e7;
    height: 80vh;
}

.jumbo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 650px;
}

.titolo-jumbo {
    text-align: left;
    font-weight: 700;
    font-size: 40px;
    text-decoration: solid;
    margin: 0 auto;
    width: 120vh;

}

.articolo-jumbo {
    display: flex;
    width: 120vh;
}

.col-testo {
    width: 30%;
}

.col-img {
    width: 40%;
}

.col-testo, .col-img {
    justify-content: center;
}

#jumbo-img {
    background-size:auto;
    height: 460px;
    position: relative;
    margin: 0;

}

.col-testo button {
    margin: 45px 0 45px 0;
}

.freggiu {
    font-size: 40px;
    margin: 7vh 0 0 0;
}

/* Larghezza principale del documento, 3 colonne, ecc..*/
.principale {
    width: 100vh;
    margin: 0 auto;
}

.radio {
    display: flex;
    gap: 4vh;
}

.titolo-business, .business {
    margin-top: 10vh;
}

.col1 {
    width: calc(100% / 3);
}

.piano-business {
    display: flex;
    align-content:space-around;
    gap: 4vh;
    margin-top: 3vh;
}

.col1, .col2, .col3 {
    width: calc(100% / 3);
    border: solid #d0d0d3;
    border-width: 1px;
    gap: 10px;
    padding-top: 1vh;
}

.tipo-utente {
    text-align: center;
    padding: 0.5vh 2vh 0 0;
}

.piano-utente, .prezzo {
    font-weight: bold;
    padding: 1.5vh;
}

.tempo {
    font-style: italic;
}

h3 {
    padding: 2vh;
    font-size: 18px;
    font-weight: 200;
}

.fa-check {
    color: #0061ff;
}

/*---------------
Footer
----------------*/
