/*---------------
Reset
----------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*---------------
Typo
----------------*/

body {

    font-family: 'Roboto', sans-serif;
}

/*---------------
Debug
----------------*/



/*---------------
Common
----------------*/

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.btn {
    background-color: #0061ff;
    align-items: center;
    text-decoration: none;
    border: none;
    color: #ffff;
    padding: 1vh 2vh 1vh 2vh;
    font-size: 17px;
}


/*---------------
Header
----------------*/

header {
    background-color: #ffff;
    align-items: center;
    justify-content: center;
}

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1vw 0 1vw;
}

nav .header-sx ul,
nav .header-dx ul
 {
    display: flex;
    gap: 8vh;
    align-items: center;
}

.titolo-jumbo > h1 {
    padding: 6vh 0 0 0;
}

/*---------------
Main
----------------*/

main {
    background-color: #b4d0e7;
    height: 80vh;
}

.jumbo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 650px;
}

.titolo-jumbo {
    text-align: left;
    font-weight: 700;
    font-size: 40px;
    text-decoration: solid;
    margin: 0 auto;
    width: 115vh;

}

.articolo-jumbo {
    display: flex;
    width: 115vh;
}

.col-testo {
    width: 30%;
}

.col-img {
    width: 40%;
}

.col-testo, .col-img {
    justify-content: center;
}

#jumbo-img {
    background-size:auto;
    height: 460px;
    position: relative;
    margin: 0;

}

.col-testo button {
    margin: 45px 0 45px 0;
}

.freggiu {
    font-size: 40px;
    margin: 7vh 0 0 0;
}
/*---------------
Footer
----------------*/
